<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- stylesheet initialization: style.css has to be on top! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mutate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pre_enter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings.css') }}">

    <!-- javascript initialization: script.js has to be at the bottom! -->
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='mutate.js') }}"></script>
    <script src="{{ url_for('static', filename='pre_enter.js') }}"></script>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <title>WorkTimeWatch</title>
</head>
<body>
    <h1>WorkTimeWatch</h1>
    {% include 'nav.jinja' %}
    {% with module_name = 'Dashboard'%}{% include 'dashboard.jinja' %}{% endwith %}
    {% with module_name = 'Mutieren'%}{% include 'mutate.jinja' %}{% endwith %}
    {% with module_name = 'Vorerfassung'%}{% include 'pre_enter.jinja' %}{% endwith %}
    {% with module_name = 'Konfiguration'%}{% include 'settings.jinja' %}{% endwith %}
</body>
</html>