{% extends 'module.jinja'%}
{% block content %}
<h3>Application Parameters</h3>
<form id="paramsForm" method="POST" action="/params">
    <table id="settingsTable">
        <thead>
            <tr><th>Key</th><th>Value</th><th>Type</th></tr>
        </thead>
        <tbody id="paramsTableBody"></tbody>
    </table>
    <button id="paramsTableSubmit" type="submit">Change</button>
</form>
{% endblock %}