{% extends 'module.jinja'%}
{% block content %}
<h3>Application Parameters</h3>
<form id="paramsForm" method="POST" action="/params">
    <table id="settingsTable">
        <thead>
            <tr><th>Key</th><th>Value</th><th>Type</th></tr>
        </thead>
        <tbody id="paramsTableBody"></tbody>
    </table>
    <button id="paramsTableSubmit" type="submit">Change</button>
</form>
<h3>Upload Times CSV</h3>
<form id="uploadTimesCsvForm" method="POST" enctype=multipart/form-data action="/upload_times_csv">
    <input id="uploadTimesCsvFile" type=file name=file>
    <input id="uploadTimesCsvSubmit" "type=submit value=Upload>
</form>
{% endblock %}