{% extends 'module.jinja'%}
{% block content %}
<h3>Parameter</h3>
<table>
    <thead>
        <tr><th>Key</th><th>Value</th><th>Type</th></tr>
    </thead>
    <tbody id="paramsTableBody"></tbody>
</table>

{% endblock %}